* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.nav {
  height: 60px;
  width: auto;
  border-bottom: 1px solid white;
  background-color:  #80618c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 10;
  position: sticky;
  top: 0;
}
.logo {
  color: white;
  cursor: pointer;
  margin-left: 25px;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#tech-t1 {
  list-style-type: none;
  padding: 0px 10px 0px 15px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.9s ease-in-out;
  font-weight: 500;
  letter-spacing: 0.5px;
}
#tech-t1:hover {
  cursor: pointer;
  text-decoration: underline;
}
#tech-t2 {
  list-style-type: none;
  padding: 0px 10px 0px 15px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.9s ease-in-out;
  font-weight: 500;
  letter-spacing: 0.5px;
}
#tech-t2:hover {
  cursor: pointer;
  text-decoration: underline;
}
#tech-t3 {
  list-style-type: none;
  padding: 0px 10px 0px 15px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.9s ease-in-out;
  font-weight: 500;
  letter-spacing: 0.5px;
}
#tech-t3:hover {
  cursor: pointer;
  text-decoration: underline;
}
#tech-t4 {
  list-style-type: none;
  padding: 0px 10px 0px 15px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.9s ease-in-out;
  font-weight: 500;
  letter-spacing: 0.5px;
}
#tech-t4:hover {
  cursor: pointer;
  text-decoration: underline;
}
#tech-t5 {
  list-style-type: none;
  padding: 0px 10px 0px 15px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.9s ease-in-out;
  font-weight: 500;
  letter-spacing: 0.5px;
}
#tech-t5:hover {
  cursor: pointer;
  text-decoration: underline;
}
#tech-t6 {
  list-style-type: none;
  padding: 0px 10px 0px 15px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.9s ease-in-out;
  font-weight: 500;
  letter-spacing: 0.5px;
}
#tech-t6:hover {
  cursor: pointer;
  text-decoration: underline;
}
#tech-t7 {
  list-style-type: none;
  padding: 0px 10px 0px 15px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.9s ease-in-out;
  font-weight: 500;
  letter-spacing: 0.5px;
}
#tech-t7:hover {
  cursor: pointer;
  text-decoration: underline;
}

.mobile-menu-icon {
  display: none;
}
@media screen and (max-width: 768px) {
  .nav {
    background-color: #80618c;
  }
  .nav-links {
    display: none;
  }
  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    background-color: #80618c;
    left: 0;
    top: 53px;
    transition: all 1s ease-out;
    width: 100%;
    z-index: 2000;
  }
  #tech-t1 {
    color: white;
    text-align: center;
    padding: 32px;
    width: 100%;
    transition: all 0.5s ease;
  }
  .mobile-menu-icon {
    display: block;
    position: absolute;
    font-size: 30px;
    color: white;
    background-color: white;
    border: none;
    outline: none;
    top: 10px;
    right: 25px;
  }
  .logo {
    margin-left: 20px;
    font-size: 22px;
  }
}
@media (max-width: 480px) {
  .nav {
    background-color: #80618c;
  }
  .mobile-menu-icon {
    background-color: #80618c;
  }
  .nav-links-mobile {
    background-color: #80618c;
  }
  .logo {
    margin-left: 10px;
    font-size: 20px;
  }
}
